$color-silver:silver;
$color-lightblue:lightblue;
$color-black:black;
$color-darkgray: #292C33;
$color-white:white;
$color-gold:gold;
$color-navajowhite: navajowhite;
$color-orange:orange;
$color-orangered:orangered;
$color-chocolate:chocolate;
$color-yellow:yellow;
$color-gray:gray;
$color-darkblue: darkblue;
$color-lightseagreen:lightseagreen;
$color-goldenrod: goldenrod;
$color-lightskyblue: lightskyblue;
$color-royalblue:royalblue;
$color-peachpuff:peachpuff;
$color-red:red;
$color-blue:blue;
$color-violet:violet;
$color-darkgray:#333333;
$color-slategray: slategrey;